/* CONTENEDOR PRINCIPAL */
.detalle-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.detalle-card {
    width: 800px;
    background: #f5f0ff; /* violeta suave */
    border-radius: 18px;
    padding: 25px;
    box-shadow: 0 8px 20px rgba(123, 44, 191, 0.15);
    backdrop-filter: blur(6px);
}

/* HEADER */
.detalle-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.detalle-header h2 {
    margin: 0;
}

/* BOTON HISTORIAL */
.btn-historial {
    background: #7b2cbf;
    color: white;
    padding: 8px 14px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.2s;
    white-space: nowrap; /* evita que baje de línea */
}

.btn-historial:hover {
    background: #5a189a;
}

/* ESTADO */
.detalle-estado {
    margin-top: 10px;
}

.detalle-estado span {
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
}

/* INFO */
.detalle-info {
    margin-top: 15px;
    padding-top: 12px;
    border-top: 1px solid #e0d7ff;
    font-size: 14px;
    color: #6b5c8f;
    display: flex;
    gap: 20px;
}

/* IMAGEN */
.detalle-img {
    margin-top: 20px;
    background: white;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.detalle-img img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.sin-imagen {
    padding: 40px;
    text-align: center;
    color: #999;
}

/* DESCRIPCION */
.detalle-descripcion {
    margin-top: 20px;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

/* Botones */
.detalle-botones {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detalle-volver {
    text-decoration: none;
    color: #7b2cbf;
    font-weight: 500;
}
.detalle-volver:hover {
    text-decoration: underline;
}

.detalle-acciones {
    display: flex;
    gap: 10px;
}
.btn {
    color:white;
    padding:8px 12px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    transition:0.2s;
}

.btn-azul {
    background:#3b82f6;
}

.btn-azul:hover {
    background:#2563eb;
}

.btn-verde {
    background:#22c55e;
}

.btn-verde:hover {
    background:#16a34a;
}

.btn-rojo {
    background:#ef4444;
}

.btn-rojo:hover {
    background:#dc2626;
}

.btn-naranja {
   background:#efad44;
}

.btn-naranja:hover {
    background:#ce7a12;
}
.btn-gris {
   background:#757473;
}

.btn-gris:hover {
    background:#6c6b6a;
}
.btn-azuloscuro {
   background:hsl(248, 35%, 48%);
}

.btn-azuloscuro:hover {
    background:hsl(248, 36%, 40%);
}

