/* HEADER */
.header {
    background: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    border-bottom: 3px solid #7b2cbf;
}

/* IZQUIERDA */
.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu-btn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
}

/* Logo */
.logo-container {
    display: flex;
    align-items: center;
    gap: 15px; 
}
/*Imagen del Logo*/
.logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
}
/*Texto*/
.logo-text {
    font-size: 26px;   
    font-weight: 700;
    font-family: 'Poppins', 'Segoe UI', sans-serif; 
    color: #7b2cbf; 
    letter-spacing: 1px; 
}
.logo-container:hover .logo-text {
    color: #9d4edd; 
    transition: 0.3s;
}

/* DERECHA */
.header-right {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* AVATAR */
.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

/* NOMBRE */
.user-name {
    font-weight: 500;
}

/* LOGIN BOX */
.login-box {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.login-text {
    font-weight: 500;
}

/* MENU USUARIO */
.user-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    padding: 10px;
    min-width: 160px;
    z-index: 2000;
}

.user-menu-text {
    font-size: 12px;
    color: #888;
    margin-bottom: 5px;
}

.user-menu-name {
    font-weight: bold;
    margin-bottom: 10px;
}

/* BOTON LOGOUT */
.logout-btn {
    display: flex;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    background: #7e7777;
    color: white;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.2s;
}

.logout-btn:hover {
    background: #3b3838;
}