/* SIDEBAR */
.sidebar {
    position: fixed;
    z-index: 1000;
    top: 88px;
    left: -300px;
    width: 250px;
    height: calc(100vh - 88px);
    background: #7b2cbf;
    color: white;
    padding: 20px;
    transition: left 0.3s ease;
    box-shadow: 2px 0 12px rgba(0,0,0,0.2);
}

/* ACTIVO (cuando se abre) */
.sidebar.active {
    left: 0;
}

/* TITULO */
.sidebar h2 {
    margin-bottom: 20px;
    font-size: 20px;
    border-bottom: 2px solid #9d4edd;
    padding-bottom: 10px;;
}

/* LINKS */
.sidebar a {
    display: block;
    color: white;
    margin: 8px 0;
    text-decoration: none;
    padding: 12px;
    border-radius: 10px;
    transition: 0.2s;
}

/* HOVER */
.sidebar a:hover {
    background:  #9d4edd;;
}

/* OVERLAY (fondo oscuro) */
.overlay {
    display: none;
    position: fixed;
    top: 88px;
    left: 0;
    width: 100%;
    height: calc(100vh - 88px);
    background: rgba(0,0,0,0.5);
    z-index: 500;
}

/* ACTIVO */
.overlay.active {
    display: block;
}

.icono-menu {
    display: flex;
    align-items: center;
    gap: 14px;

    padding: 12px 16px;
    border-radius: 12px;

    color: white;
    text-decoration: none;

    transition: background 0.3s ease;
}

.icono-menu {
    display: grid;
    grid-template-columns: 30px 1fr; 
    align-items: center;
    gap: 12px;

    padding: 12px 16px;
    border-radius: 12px;

    color: white;
    text-decoration: none;
}

/* icono */
.icono-menu img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    justify-self: center; 
}