/* SIDEBAR */
.sidebar {
    position: fixed;
    z-index: 1000;
    top: 65px;
    left: -300px;
    width: 250px;
    height: calc(100vh - 65px);
    background: #1e1e2f;
    color: white;
    padding: 20px;
    transition: left 0.3s ease;
}

/* ACTIVO (cuando se abre) */
.sidebar.active {
    left: 0;
}

/* TITULO */
.sidebar h2 {
    margin-bottom: 20px;
}

/* LINKS */
.sidebar a {
    display: block;
    color: white;
    margin: 12px 0;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    transition: 0.2s;
}

/* HOVER */
.sidebar a:hover {
    background: #2f2f45;
}

/* OVERLAY (fondo oscuro) */
.overlay {
    display: none;
    position: fixed;
    top: 65px;
    left: 0;
    width: 100%;
    height: calc(100vh - 65px);
    background: rgba(0,0,0,0.5);
    z-index: 500;
}

/* ACTIVO */
.overlay.active {
    display: block;
}